/* creazione colonne colorate */

[class^="col"]{
    background-color: pink;
    height: 200px;
    line-height: 200px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
   
}
[class^="col"] > .row{
    padding: 5px;
}

[class^="col"] > .row > div{
    background-color: rgb(249, 68, 68);
    border-color: white;
    height: 190px;
    font-size: 15px;
}